body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;

    img {
        width: 100px;
        height: auto;
        display: block;
        margin: auto auto;
    }
}